<html ng-app="manutencaoEventos">

<head>
	<title>Manutenção de Eventos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="css/mdPickers/dist/mdPickers.min.css">
	<link rel="stylesheet" type="text/css" href="css/manutencao-eventos.css">

	<!--The problem was that I was developing against the minified/compressed version (assuming it was like other JS libraries). The uncompressed version includes a readable error message.-->

	<script src="js/angular/angular.js"></script>
	<script src="js/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="js/angular-messages/angular-messages.min.js"></script>
	<script src="js/angular-material/angular-material.min.js"></script>
	<script src="js/angular-aria/angular-aria.min.js"></script>
	<script src="js/angular-animate/angular-animate.min.js"></script>
	<script src="js/moment/min/moment.min.js"></script>
	<script src="js/moment/locale/pt-br.js"></script>
	<script src="js/mdPickers/dist/mdPickers.min.js"></script>
	<script src="js/jquery/dist/jquery.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers/manutencaoEventosCtrl.js"></script>
	<script src="js/filters/dateFilter.js"></script>
	<script src="js/config/manutencaoEventosSettings.js"></script>
	<script src="js/config/routerConfig.js"></script>
	<script src="js/factory/manutencaoEventosFactory.js"></script>
	<script src="js/services/manutencaoEventosService.js"></script>
	<script src="js/value/manutencaoEventosConfigValue.js"></script>
	<script src="js/constant/manutencaoEventosConfigConstant.js"></script>
	<script src="js/providers/serialGeneratorProvider.js"></script>
	 
	<!--script src="i18n/angular-locale_pt-br.js"></script-->
</head>

<body>

			
					<div ui-view></div>
				
		<!--
filtros: 
number ex:(100 | number, 100 | number:2 -> casas decimais), 
currency -> é possivel baixar o angular-locale e depois importar o script.
limitTo:3 - limita o numero de caracteres em uma string

-->
<div ng-include="'partials/footer.html'"></div>
</body>

</html>